services:
  backend:
    image: translator-backend:latest
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: translator-backend
    environment:
      DB_DIALECT: "mysql"
      DB_HOST: "host.docker.internal"
      DB_PORT: "3306"
      DB_NAME: "traductor"
      DB_USER: "root"
      DB_PASS: ""
      PORT: "4000"
      ALLOW_ORIGIN: "http://localhost:3000"
    ports:
      - "8080:4000"
    restart: unless-stopped

  frontend:
    image: translator-frontend:latest
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: translator-frontend
    environment:
      VITE_API_URL: "http://localhost:8080"
    depends_on:
      - backend
    ports:
      - "3000:5173"
    restart: unless-stopped
